@{
    ViewData["Title"] = "Home Page";
}
<div class="loader "></div>
<div id="pagecontent" class="row">
    <div class="col-md-8 col-sm-12 ">

        <div class="filter-area d-flex justify-content-around">
        </div>
        <hr />
        <div class="table-responsive">
            <table class=" table table-bordered table-hover table-striped table-md">
            </table>
        </div>

    </div>
    <div class="col-md-4 col-12 ">
        <div class="sticky-top">
            <div class=" mb-1 text-end ">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalform" onclick="loadCreateModal()">
                    Yeni Öğrenci
                </button>
            </div>

            <div class="pageForm">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Adı Soyadı</span>
                    <input id="formFullName" type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                    <span class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <select id="formDepartman" class="form-select">
                        <option value="">Bölüm seçiniz</option>
                    </select>
                    <span class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <select id="formHobby" class="form-select">
                        <option value="">Hobi seçiniz</option>

                    </select>
                    <span class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <select id="formteacher1" class="form-select">
                        <option value="">Sınıf Öğretmeni</option>

                    </select>
                    <span class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <select id="formTeacher2" class="form-select">
                        <option value="">Rehber Öğretmeni</option>

                    </select>
                    <span class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="button" onclick="saveForm()" class="btn btn-success text-center" name="submitButton" value="save">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Modal Create -->
<div class="modal fade" id="modalform" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalform" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalformtitle">Öğrenci Pop-up Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="student-form-modal" class="modal-body">
            </div>
        </div>
    </div>
</div>
</div>



<!-- Modal Delete-->
<div class="modal fade" id="modaldelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modaldelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaldeletetitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="txtDeleteModalValidation" class="text-danger small"></span>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Silme Nedeni</span>
                    <input id="reason-for-deletion" type="text" class="form-control" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="submitButton">Vazgeç</button>
                    <button id="btnformdelete" class="btn btn-primary">Sil</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#pagecontent").hide();
            $("table").load("/Home/LoadStudent",
                function () {
                    $(".filter-area").load("/Home/GetSeacrhPagePartial",
                        function () {
                            $(".loader").hide();
                            $("#pagecontent").show();
                        });
                });
        });
        function loadStudent() {
            $("table").empty();
            $("table").load("/Home/LoadStudent")
        }

        function loadCreateModal() {
            $("#student-form-modal").load("/Home/GetCreatModalPartial")

        }
        
        function filterStudent(btn) {
            var model = {
                "Fullname": $("#Fullname").val().trim().length > 0 ? $("#Fullname").val():null,
                "HobbyId": $("#filterHobbySelect").val() === "0" ? null : $("#filterHobbySelect").val(),
                "TeacherId": $("#filterTeacherSelect").val() === "0" ? null : $("#filterTeacherSelect").val(),
            };
            console.log(model);
            $("table").empty();
            $("table").load("/Home/FilterStudent", model,function(){
               $(btn).hide();
               $(btn).next().removeClass("d-none");

            })
        }
        function clearFilter(btn){
            $("#Fullname").val("");
            $("#filterHobbySelect").val("0").change();
            $("#filterTeacherSelect").val("0").change();
            $(btn).addClass("d-none");
            $(btn).prev().show();
            loadStudent();
        }
        function deleteStudent(id) {
            var desc = $("#reason-for-deletion").val();
            var url = `/Home/DeleteStudent`;
            if (desc.trim().length > 0) {

                var data = {
                    "Id": id,
                    "DeletionDescription": desc
                }
                $("table").empty();
                $("table").load(url, data,
                    function () {
                        $("#modaldelete").modal("hide");
                        toastr["success"]("Öğrenci başarılı bir şekilde silindi", "İşlem Başarılı");
                    });
            }
            else {
                $("#txtDeleteModalValidation").text("Silme Nedeni boş bırakılamaz");
            }
        }
        function saveModalForm() {
            var data = {
                "Fullname": $("#modalFullName").val(),
                "DepartmanId": $("#DepartmanId").val(),
                "HobbyId": $("#HobbyId").val(),
                "TeacherId": $("#TeacherId").val(),
                "GuidanceCounselorId": $("#GuidanceCounselorId").val()
            }
            console.log(data)
            $("#student-form-modal").load("/Home/PostCreatePartial", data,
                function () {
                    loadStudent();
                });
        }

        


    </script>
}
